.correct {
  background-color: #8cff8c; /* lichtgroen */
  border: 2px solid green;
}

.wrong {
  background-color: #ff9c9c; /* lichtrood */
  border: 2px solid red;
}

.hidden {
  display: none;
}


body {
  font-family: Arial, sans-serif;
  background-color: #111; /* donker F1-gevoel */
  color: white;
  text-align: center;
  margin: 0;
}


h1 {
  color: #e10600; /* F1 rood */
  font-size: 40px;
  margin-top: 20px;
}


button {
  background-color: #e10600;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #ff2a2a;
}


#driver-img {
  margin-top: 20px;
  width: 220px;
  border-radius: 12px;
  border: 4px solid white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}


#score, #time {
  font-size: 22px;
  margin: 10px;
  background-color: #222;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
}


#score {
  border: 2px solid lime;
}

#time {
  border: 2px solid orange;
}


.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

#webcam-container canvas {
  width: 250px;
  border-radius: 12px;
  border: 4px solid white;
}
