.correct {
  background-color: #8cff8c;
  border: 2px solid green;
  transition: 0.3s;
}

.wrong {
  background-color: #ff9c9c;
  border: 2px solid red;
  transition: 0.3s;
}


.hidden {
  display: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111; /* donker F1-gevoel */
  color: white;
  text-align: center;
  margin: 0;
}

h1 {
  color: #e10600; /* F1 rood */
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
}

button {
  background-color: #e10600;
  color: white;
  border: none;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #ff2a2a;
}

#driver-img {
  margin-top: 20px;
  width: 220px;
  border-radius: 12px;
  border: 4px solid white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

#score,
#time {
  font-size: 22px;
  margin: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #222;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
}

#score {
  border: 2px solid lime;
}

#time {
  border: 2px solid orange;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 30px;
}

#webcam-container canvas {
  width: 250px;
  border-radius: 12px;
  border: 4px solid white;
}

#webcam-container {
  margin-top: 20px;
}

#detected-team {
  margin-top: 15px;
  font-size: 18px;
}

p {
  max-width: 500px;
  margin: 20px auto;
  line-height: 1.5;
  color: black;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}


#countdown {
  font-size: 30px;
  margin-top: 20px;
  color: yellow;
}



#final-score {
  display: none;
  margin-top: 20px;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 15px;
  line-height: 1.6;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
}


#final-score strong {
  color: gold;
  font-size: 22px;
}


#final-score br {
  margin-bottom: 8px;
}


